{% extends "partion/main_base.html" %}
{% block content %} 
   {% load static %}
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-8">
                  <h2 class="about_taital">Về chúng tôi</h2>
                  <p class="about_text">
                     Chào mừng đến với hệ thống gia hạn hộ chiếu trực tuyến của chúng tôi! 
                     Ứng dụng được thiết kế nhằm mang đến một quy trình gia hạn hộ chiếu đơn giản, 
                     nhanh chóng và tiện lợi cho người dân. Mục tiêu của chúng tôi là cải thiện quy trình hành chính, 
                     giúp người dùng dễ dàng cập nhật thông tin và theo dõi trạng thái hồ sơ của mình thông qua một nền tảng trực tuyến.
                  </p>

                  <h2 class="about_taital">Mục Tiêu Của Ứng Dụng</h2>
                  <p class="about_text">
                     Ứng dụng này cung cấp một giải pháp toàn diện cho quy trình gia hạn hộ chiếu, 
                     từ việc đăng ký yêu cầu đến khi nhận kết quả gia hạn. 
                     Chúng tôi kết hợp các công nghệ tiên tiến và quy trình bảo mật chặt chẽ 
                     để đảm bảo rằng mọi thông tin của người dùng đều được bảo mật và xử lý nhanh chóng.
                  </p>

                  <h2 class="about_taital">Cam Kết Bảo Mật</h2>
                  <p class="about_text">
                     Chúng tôi cam kết bảo vệ thông tin cá nhân của người dùng bằng cách áp dụng 
                     các biện pháp bảo mật tiên tiến. Mọi thông tin cá nhân và hồ sơ của bạn sẽ được 
                     lưu trữ an toàn và chỉ được chia sẻ với các bộ phận có quyền truy cập theo yêu cầu của quy trình gia hạn hộ chiếu.
                  </p>
               </div>
               <div class="col-sm-4">
                  <div class="about_img"><img src="https://i.pinimg.com/736x/4e/95/f9/4e95f9da52b55dacd6b3beb5e5e6618a.jpg"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
{% endblock  %}    