 {% extends "partion/main_base.html" %}
 {% block content %} 
 {% load static %}
   <!-- banner section start -->
   <div class="banner_section layout_padding" style="z-index: 2;">
      <div class="container">
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Điền form</h1>
                        <p class="banner_text">Người dùng truy cập trang web, điền thông tin cá nhân</p>
                        <div class="read_bt"><a href="{% url 'register' %}">Register</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="col-sm-15">
                     <h1 class="banner_taital">Xác thực</h1>
                     <p class="banner_text">Bộ phận xác thực kiểm tra thông tin người đăng ký </p>
                     <div class="read_bt"><a href="{% url 'register' %}">Register</a></div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="col-sm-12">
                     <h1 class="banner_taital">Xét duyệt</h1>
                     <p class="banner_text">Các hồ sơ đã xác thực được chuyển đến bộ phận xét duyệt</p>
                     <div class="read_bt"><a href="{% url 'register' %}">Register</a></div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="col-sm-12">
                     <h1 class="banner_taital">Cập nhật</h1>
                     <p class="banner_text">Bộ phận có quyền hạn sẽ cập nhật thời hạn hộ chiếu cho những hồ sơ được duyệt</p>
                     <div class="read_bt"><a href="{% url 'register' %}">Register</a></div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="col-sm-12">
                     <h1 class="banner_taital">Thông báo</h1>
                     <p class="banner_text">Người đăng ký vui lòng chờ thông báo xét duyệt</p>
                     <div class="read_bt"><a href="{% url 'register' %}">Register</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="donation_box">
         <h4 class="donation_taital">Contact For Donation</h4>
         <div class="mail_box">
            <div class="information-mail">
               <input type="" class="mail_text" placeholder="Your Name" name="Your Name">
               <input type="" class="mail_text" placeholder="Email" name="Email">
               <input type="" class="mail_text" placeholder="Phone" name="Phone">
            </div>
            <div class="question-mail">
               <textarea type="" class="question_text" placeholder="Question" name="Question"></textarea>
            </div>
         </div>

         <div class="send_bt"><a href="#">Send</a></div>
      </div>
      <div class="fundraise_section">
         <div class="fundraise_section_main">
            <div class="row">
               <div class="col-lg-4">
                  <div class="box_main">
                     <div class="icon_1"><img src="{% static 'images/icon-1.png'%}"></div>
                     <h4 class="volunteer_text">HƯỚNG DẪN</h4>
                     <p class="lorem_text">
                        Hướng dẫn cho người dùng muốn đăng ký gia hạn hộ chiếu
                     </p>
                     <div class="join_bt"><a href="#">Join Now</a></div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="box_main active">
                     <div class="icon_1"><img src="{% static 'images/icon-2.png'%}"></div>
                     <h4 class="volunteer_text">REGISTER</h4>
                     <p class="lorem_text">Lorem Ipsum generators on the Internet tend to repeat predefined</p>
                     <div class="join_bt"><a href="{% url 'register' %}">Register</a></div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="box_main">
                     <div class="icon_1"><img src="{% static 'images/icon-3.png'%}"></div>
                     <h4 class="volunteer_text">COST</h4>
                     <p class="lorem_text">Lorem Ipsum generators on the Internet tend to repeat predefined</p>
                     <div class="join_bt"><a href="{% url 'donate' %}">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- banner section end -->
   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-sm-8">
               <h2 class="about_taital">HỘ CHIẾU</h2>
               <p class="about_text">
                  Hộ chiếu Việt Nam là giấy tờ do cơ quan nhà nước có thẩm quyền cấp, 
                  nhằm xác nhận quốc tịch và nhân thân của công dân Việt Nam khi xuất nhập cảnh quốc tế. 
                  Hiện nay, Việt Nam có ba loại hộ chiếu chính: hộ chiếu phổ thông, hộ chiếu công vụ và hộ chiếu ngoại giao. 
                  Hộ chiếu phổ thông có thời hạn 10 năm, được sử dụng chủ yếu cho các mục đích như du lịch, học tập, và làm việc. 
                  Với thiết kế hiện đại, đáp ứng tiêu chuẩn quốc tế, hộ chiếu Việt Nam không chỉ là công cụ pháp lý mà 
                  còn khẳng định vai trò hội nhập của công dân Việt Nam trên thế giới.
               <div class="readmore_bt"><a href="#">Read more</a></div>
            </div>
            <div class="col-sm-4">
               <div class="about_img"><img src="{% static 'images/about-img.png'%}"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section end -->
   <!-- mission section start -->
   {% include "partion/page/mission.html" %}
   
   <!-- mission section end -->
   <!-- news section start -->
   {% include "partion/page/news.html" %}
   <!-- news section end -->
   <!-- donate section start -->
   {% include "partion/page/donate.html" %}

   <!-- donate section end -->
{% endblock  %}