<div class="mission_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <h1 class="mission_taital">SỨ MỆNH CỦA CHÚNG TÔI</h1>
             <p class="mission_text">Chúng tôi cam kết mang đến giải pháp gia hạn hộ chiếu nhanh chóng, tiện lợi, và đáng tin cậy</p>
          </div>
       </div>
    </div>
    <div class="mission_section_2">
       <div class="row">
          <div class="offset-md-2"></div>
          <div class="col-md-5">
             <div class="container_main">
                <img src="https://media-cdn-v2.laodong.vn/storage/newsportal/2022/11/20/1118595/Z3895440493397_8Cd46.jpg" alt="Avatar" class="image">
                <div class="overlay">
                   <div class="text">
                      <h4 class="some_text">THÔNG TIN VỀ HỘ CHIẾU</h4>
                      <p class="alteration_text">LD - Điểm nổi bật của hộ chiếu gắn chip điện tử | Diễn đàn GVN</p>
                      <div class="btn_main">
                         <div class="donate_bt"><a href="https://www.bing.com/images/search?view=detailV2&ccid=dRhYIxHq&id=966E99F3A911961C0C1E9F04CB2E5BAA3DBC0A82&thid=OIP.dRhYIxHqGBbHJoqDmk4AjgHaE7&mediaurl=https%3a%2f%2fmedia-cdn-v2.laodong.vn%2fstorage%2fnewsportal%2f2022%2f11%2f20%2f1118595%2fZ3895440493397_8Cd46.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.7518582311ea1816c7268a839a4e008e%3frik%3dggq8PapbLssEnw%26pid%3dImgRaw%26r%3d0&exph=1306&expw=1960&q=h%e1%bb%99+chi%e1%ba%bfu+vi%e1%bb%87t+nam&simid=607986337221995982&FORM=IRPRST&ck=A305C4273C91E3A86BF5A6871893CF3B&selectedIndex=19&itb=0">XEM CHI TIẾT</a></div>
                         <div class="donate_bt"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-5">
             <div class="container_main">
                <img src="https://th.bing.com/th/id/OIP.koHP5FSk71E0tSQ7wqifsAHaFj?rs=1&pid=ImgDetMain" alt="Avatar" class="image">
                <div class="overlay">
                   <div class="text">
                      <h4 class="some_text">THÔNG TIN VỀ HỘ CHIẾU</h4>
                      <p class="alteration_text">Việt Nam chính thức đổi màu hộ chiếu từ ngày 01/07</p>
                      <div class="btn_main">
                         <div class="donate_bt"><a href="https://globalopentour.com/viet-nam-chinh-thuc-doi-mau-ho-chieu-tu-ngay-0107">XEM CHI TIẾT</a></div>
                         <div class="donate_bt"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="mission_section_2">
       <div class="row">
          <div class="col-md-5">
             <div class="container_main">
                <img src="https://photo-cms-tinnhanhchungkhoan.epicdn.me/w660/Uploaded/2023/gtnwae/2022_06_01/z-a-9707.jpg" alt="Avatar" class="image">
                <div class="overlay">
                   <div class="text">
                      <h4 class="some_text">THÔNG TIN VỀ HỘ CHIẾU</h4>
                      <p class="alteration_text">Tổng hợp 100 hình hộ chiếu việt nam đẹp nhất hiện nay</p>
                      <div class="btn_main">
                         <div class="donate_bt"><a href="https://xaydungso.vn/bai-viet-khac/tong-hop-100-hinh-ho-chieu-viet-nam-dep-nhat-hien-nay-vi-cb.html">XEM CHI TIẾT</a></div>
                         <div class="donate_bt"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-5">
             <div class="container_main">
                <img src="https://th.bing.com/th/id/OIP.Z8_bPDmfh-pHVGvQLg2BIAHaFh?rs=1&pid=ImgDetMain" alt="Avatar" class="image">
                <div class="overlay">
                   <div class="text">
                      <h4 class="some_text">THÔNG TIN VỀ HỘ CHIẾU</h4>
                      <p class="alteration_text">Thời hạn sử dụng hộ chiếu là bao nhiêu năm?</p>
                      <div class="btn_main">
                         <div class="donate_bt"><a href="https://luatsu247.net/thoi-han-su-dung-ho-chieu-la-bao-nhieu-nam/">XEM CHI TIẾT</a></div>
                         <div class="donate_bt"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="offset-md-2"></div>
       </div>
    </div>
    <div class="mission_section_2">
       <div class="row">
          <div class="offset-md-2"></div>
          <div class="col-md-5">
             <div class="container_main">
                <img src="https://thiquocgia.vn/wp-content/uploads/cach-viet-don-xin-cap-lai-ho-chieu-600.jpg" alt="Avatar" class="image">
                <div class="overlay">
                   <div class="text">
                      <h4 class="some_text">THÔNG TIN VỀ HỘ CHIẾU</h4>
                      <p class="alteration_text">Cách viết đơn xin cấp lại hộ chiếu</p>
                      <div class="btn_main">
                         <div class="donate_bt"><a href="https://thiquocgia.vn/cach-viet-don-xin-cap-lai-ho-chieu/">XEM CHI TIẾT</a></div>
                         <div class="donate_bt"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-5">
             <div class="container_main">
                <img src="https://imgamp.phunutoday.vn/files/news/2023/10/18/ho-chieu-viet-nam-di-duoc-nhung-nuoc-nao-ma-khong-can-xin-visa-151338.jpg" alt="Avatar" class="image">
                <div class="overlay">
                   <div class="text">
                      <h4 class="some_text">THÔNG TIN VỀ HỘ CHIẾU</h4>
                      <p class="alteration_text">Hộ chiếu Việt Nam đi được những nước nào mà không cần xin visa?</p>
                      <div class="btn_main">
                         <div class="donate_bt"><a href="https://phunutoday.vn/ho-chieu-viet-nam-di-duoc-nhung-nuoc-nao-ma-khong-can-xin-visa-d386445.html">XEM CHI TIẾT</a></div>
                         <div class="donate_bt"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>