<div class="news_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <h1 class="news_taital">NGUYÊN NHÂN NỔI BẬT</h1>
             <p class="news_text">Dưới đây là một phần mô tả về nguyên nhân nổi bật giải thích lý do ra đời của trang web hỗ trợ gia hạn hộ chiếu</p>
          </div>
       </div>
       <div class="news_section_2">
          <div class="row">
             <div class="col-md-6">
                <div class="news_img"><img src="https://i.pinimg.com/originals/83/23/f7/8323f749ad9cfe5d7fb922d43bd487c3.gif"></div>
             </div>
             <div class="col-md-6">
                <h1 class="give_taital">ĐƠN GIẢN HÓA</h1>
                <p class="ipsum_text">Thủ tục cấp và gia hạn hộ chiếu thường gây khó khăn cho nhiều người bởi sự phức tạp trong quy trình, <br>
                   giấy tờ cần thiết, và thời gian xử lý kéo dài. <br>
                   Trang web của chúng tôi được tạo ra nhằm đơn giản hóa quy trình, giúp bạn dễ dàng hoàn tất thủ tục chỉ với vài bước trực tuyến. 
                </p>
                <h5 class="raised_text">An Toàn    <span class="goal_text">Bảo Mật</span></h5>
                <div class="donate_btn_main">
                   <div class="readmore_btn"><a href="{% url 'mission' %}">TIN TỨC KHÁC</a></div>
                   <div class="readmore_btn_1"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                </div>
             </div>
          </div>    
       </div>
       <div class="news_section_2">
          <div class="row">
             <div class="col-md-6">
                <div class="news_img"><img src="https://img.freepik.com/free-vector/biometric-international-passport-mockups-open-close-forms-realistic-set-isolated_1284-27955.jpg?t=st=1734409950~exp=1734413550~hmac=16ff186859d3dc4a699a0d86ba52836e6bd77a22b0b87747b66ee78f593903f8&w=740"></div>
             </div>
             <div class="col-md-6">
                <h1 class="give_taital">TIẾT KIỆM THỜI GIAN</h1>
                <p class="ipsum_text">
                   Với lịch trình bận rộn, việc phải dành thời gian đến cơ quan nhà nước và chờ đợi không còn là lựa chọn tối ưu. Chúng tôi cung cấp nền tảng trực tuyến, giúp bạn đăng ký gia hạn hoặc cấp mới hộ chiếu mọi lúc, mọi nơi, không cần xếp hàng hay chờ đợi lâu.
                   <br>
                   Chúng tôi cung cấp nền tảng trực tuyến,<br>
                   giúp bạn đăng ký gia hạn hoặc cấp mới hộ chiếu mọi lúc, mọi nơi, không cần xếp hàng hay chờ đợi lâu. 
                </p>
                <h5 class="raised_text">An Toàn    <span class="goal_text">Bảo Mật</span></h5>
                <div class="donate_btn_main">
                   <div class="readmore_btn"><a href="{% url 'mission' %}">TIN TỨC KHÁC</a></div>
                   <div class="readmore_btn_1"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                </div>
             </div>
          </div>    
       </div>
       <div class="news_section_2">
          <div class="row">
             <div class="col-md-6">
                <div class="news_img"><img src="https://i.pinimg.com/736x/be/97/6d/be976d0812f9f0a511c091bd73a358d3.jpg" style="height: 450px;"></div>
             </div>
             <div class="col-md-6">
                <h1 class="give_taital">RÕ RÀNG VÀ MINH BẠCH</h1>
                <p class="ipsum_text">
                   Nhiều người gặp khó khăn trong việc tìm kiếm thông tin chính xác về các bước thực hiện,<br>
                   <br>
                   loại giấy tờ cần thiết, hoặc phí dịch vụ. Trang web này ra đời để cung cấp thông tin chính xác, minh bạch và đầy đủ, giúp bạn hoàn toàn yên tâm trong từng bước. 
                </p>
                <h5 class="raised_text">An Toàn    <span class="goal_text">Bảo Mật</span></h5>
                <div class="donate_btn_main">
                   <div class="readmore_btn"><a href="{% url 'mission' %}">TIN TỨC KHÁC</a></div>
                   <div class="readmore_btn_1"><a href="{% url 'register' %}">ĐĂNG KÝ NGAY</a></div>
                </div>
             </div>
          </div>
          
       </div>
    </div>
 </div>